<form [formGroup]="formElementsStyles" class="formElementsStyles">
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize='10px'>
    <mat-grid-tile>
      <div class="formElementsStyles__item">
        <mat-form-field appearance="fill">
          <mat-label class="formElementsStyles__label">Field description or question</mat-label>
          <input matInput type="text" placeholder="Enter your text" formControlName="checkboxFieldText">
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="formElementsStyles__item">
        <mat-form-field appearance="fill">
          <mat-label class="formElementsStyles__label">Field label</mat-label>
          <input matInput type="text" placeholder="Enter your text" formControlName="checkboxLabel">
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  
  <div class="formElementsStyles__item radioBtn">
    <p class="formElementsStyles__label radioBtn__label">Required field</p>
    <fieldset class="radioBtn__fieldset" formControlName="checkboxRequired" ngDefaultControl>
      <mat-radio-button class="radioBtn__button" name="Required" value="required">Required</mat-radio-button>
      <mat-radio-button class="radioBtn__button" name="Required" value="" checked>Not Required</mat-radio-button>
    </fieldset>
  </div>
</form>
