$fontColor: #2a2a2a;
$btnFontColor: rgb(15, 120, 168);
$btnBackgroundColor: rgba(15, 120, 168, 0.1);
$greyColor: #ccc;
$darkGreyColor: #999;
$whiteColor: #ffffff;
$accordionHeaderColor: #eee;

$timingFunction: 250ms cubic-bezier(0, 0, 0.2, 1);
