<form [formGroup]="formElementsStyles" class="formElementsStyles">
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize='10px'>
    <mat-grid-tile>
      <div class="formElementsStyles__item">
        <mat-form-field appearance="fill">
          <mat-label class="formElementsStyles__label">Button text</mat-label>
          <input matInput type="text" placeholder="Enter your text" formControlName="buttonText">
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="formElementsStyles__item">
        <mat-form-field appearance="fill">
          <mat-label class="formElementsStyles__label">Button width</mat-label>
          <input matInput type="text" placeholder="Enter a number" formControlName="buttonWidth" />
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="formElementsStyles__item">
        <mat-form-field appearance="fill">
          <mat-label class="formElementsStyles__label">Button height</mat-label>
          <input matInput type="text" placeholder="Enter a number" formControlName="buttonHeight" />
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="formElementsStyles__item">
        <mat-form-field appearance="fill">
          <mat-label class="formElementsStyles__label">Font size</mat-label>
          <input matInput type="text" placeholder="Enter a number" formControlName="buttonFontSize" />
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="formElementsStyles__item">
        <mat-form-field appearance="fill">
          <mat-label class="formElementsStyles__label">Font weight</mat-label>
          <mat-select formControlName="buttonFontWeight">
            <mat-option *ngFor="let item of fontWeight()" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="formElementsStyles__item colorInput">
        <label class="formElementsStyles__label" for="inputBkgColor"> Background color</label>
        <input class="colorInput__input" type="color" formControlName="buttonBackgroundColor" id="inputBkgColor">
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="formElementsStyles__item colorInput">
        <label class="formElementsStyles__label" for=" inputColor"> Font color</label>
        <input class="colorInput__input" type="color" formControlName="buttonColor" id="inputColor">
      </div>
    </mat-grid-tile>
  </mat-grid-list> 
</form>
